body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

div.header{
    height: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    background: url("../img/arrow4132.svg") no-repeat left;
    cursor: pointer;
}

div.report{
    width: 100%;
}

div.causes{
    padding-left: 10px;
}

div.title{
    font-size: 20pt;
    cursor: pointer;
}

.cursor{
    cursor: pointer;
}

div.report-header{
    border-top: solid 1px #D2D7D3;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.report-center{
    border-top: solid 1px #D2D7D3;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.report-bottom{
    border-top: solid 1px #D2D7D3;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

td{
    padding: 5px;
}

.c1{
    color: #c0392b;
}

.c2{
    color: #f39c12;
}

.c3{
    color: #2980b9;
}
