body{
    margin: 0;
}

hr.horizontal-bar{
    margin-bottom: 0px;
    margin-top: 0px;
    border: 0;
    height: 1px;
    background: #D2D7D3;
}


.title{
font-family: 'Open Sans', sans-serif;
font-weight: 300;
font-size: 25pt;
text-align: center;
}

.list{
    display: none;
	font-family: 'Open Sans', sans-serif;
font-weight: 300;
font-size: 20pt;
text-align: center;
    margin-top: 10px;
    cursor:pointer;
}

.footer{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;

}

table{
    padding-bottom: 10px;
    padding-top: 10px;
}